<ion-view view-title="Nouveau device">
  <ion-content class="padding">
     
   <div class="list">
   
    <label class="item item-input">
      <span class="input-label">Nom :*</span>
      <input type="text" ng-model="newDevice.name" >
    </label>

    <label class="item item-input">
      <span class="input-label">Unique id :*</span>
      <input type="text" ng-model="newDevice.uniqueId" >
    </label>

    <label class="item item-input">
      <span class="input-label">Téléphone :*</span>
      <input type="text" ng-model="newDevice.phoneNumber" >
    </label>

    <label class="item item-input item-select">
      <span class="input-label">Status :*</span>
      <select ng-model="newDevice.status" ng-options="__status._status for __status in status" >
      </select>
    </label>

    <button type="button" class="button button-positive button-full" ng-click="addNewDevice()">
        Sauvegarder
        </button>

   </div>
   

  </div>
  </ion-content>
</ion-view>
